<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Polls Poller</title>

    <!-- Include Commong files -->
    <% include ./partials/header.ejs %>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/polls.css">

</head>
<body>

<!-- NAVBAR -->
<% include ./partials/navbar.ejs %>

<!-- MAIN PAGE CONTAINER -->
<div class="ui container">
    <table class="ui celled striped table">
        <!-- TABLE HEADER -->
        <thead>
            <tr>
                <th><h1>Poll</h1></th>
                <th>Votes</th>
            </tr>
        </thead>
        <!-- CONTAINER FOR ALL POLLS -->
        <!-- Contains sorting method for polls(trending/recent/default) -->
        <tbody>
            <% polls.forEach(poll => { %>
                <tr>
                    <td>
                        <div class="ui header">
                            <a href="/polls/<%= poll._id %>"><%= poll.question %></a>
                            <span id="tags">
                                <% poll.tags.forEach(tag=>{ %>
                                <% if(tag !== null) { %>
                                    <div  id="tag" class="ui tiny tag label">
                                        <%= tag %>
                                    </div>
                                <% } %>
                                <% }); %>
                            </span>
                            <div class="right aligned sub header">~ <%= poll.author.username %></div>
                        </div>
                    </td>
                    <td class="right aligned collapsing"><%= poll.voteCount %></td>
                </tr>
            <% }); %>
        </tbody>

        <!-- FOOTER containing Pagination -->
        <tfoot>
            <th colspan="3">
                <!-- GRID to center the Pagination -->
                <div class="ui centered grid">
                    <div class="center aligned column">
                        <!-- PAGINATION MENU: Currently not functional -->
                        <div id="pagination" class="ui pagination menu">

                            <!-- PAGINATION LEFT CONTROLS -->
                            <% if(page == 1) { %>
                                <!-- Disabled if Page 1 -->
                                <a class="disabled icon item"><i class="angle large double left icon"></i></a>
                                <a class="disabled icon item"><i class="angle large left icon"></i></a>
                            <% } else { %>
                                <!-- Otherwise, enabled -->
                                <a href="/polls?sort=<%= sort %>&page=1&perPage=<%= perPage %>" class="icon item"><i class="angle large double left icon"></i></a>
                                <a href="/polls?sort=<%= sort %>&page=<%= page - 1 %>&perPage=<%= perPage %>" class="icon item"><i class="angle large left icon"></i></a>
                            <% } %>

                            <!-- i: First Page to Display -->
                            <% let i = (page > 3 ? page - 2 : 1); %>

                            <!-- If pages not starting from 1 -->
                            <!-- Display ... -->
                            <% if (i !== 1) { %>
                                <a class="disabled item">...</a>
                            <% } %>

                            <!-- Display all pages from first page(i) to last page(pages if page + 2 < pages) -->
                            <% for (; i <= Math.min(page + 2, pages); ++i) { %>
                                <!-- Current Page: Active -->
                                <% if (i === page) { %>
                                    <a class="active item"><%= i %></a>
                                <!-- Other Pages: not active -->
                                <% } else { %>
                                    <a href="/polls?sort=<%= sort %>&page=<%= i %>&perPage=<%= perPage %>" class="item"><%= i %></a>
                                <% } %>
                            <% } %>

                            <!-- If not reached last -->
                            <% if (i <= pages) { %>
                                <a class="disabled item">...</a>
                            <% } %>

                            <!-- PAGINATION RIGHT CONTROLS -->
                            <% if (page === pages) { %>
                                <!-- Disabled if Last Page -->
                                <a class="disabled icon item"><i class="large angle right icon"></i></a>
                                <a class="disabled icon item"><i class="large angle double right icon"></i></a>
                            <% } else { %>
                                <!-- Otherwise, Enabled -->
                                <a href="/polls?sort=<%= sort %>&page=<%= page + 1 %>&perPage=<%= perPage %>" class="icon item"><i class="large angle right icon"></i></a>
                                <a href="/polls?sort=<%= sort %>&page=<%= pages %>&perPage=<%= perPage %>" class="icon item"><i class="large angle double right icon"></i></a>
                            <% } %>

                        </div>
                        <!-- END Pagination Menu -->
                    </div>
                </div>
                <!-- END Pagination Container -->
            </th>
        </tfoot>
    </table>
</div>
<!-- END Main Container -->

</body>
</html>