<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <% include ./partials/header.ejs %>
    <link rel="stylesheet" href="/css/poll.css">
    <script src="/js/poll.js"></script>

</head>
<body>

<!-- NAVBAR -->
<% include ./partials/navbar.ejs %>

<div id="poll-container" class="ui container">
    <!-- Question and Author -->
    <h2 class="header"><%= poll.question %></h2>
    <p>By~ <%= poll.author.username %></p>

    <!-- Vote Form with Options -->
    <form action="/polls/<%= poll._id %>/votes" method="post" class="ui form">
        <!-- Options List -->
        <div class="ui segment">
            <div id="options" class="ui relaxed divided list">
                <% poll.options.forEach((option)=>{ %>
                    <div class="<%= (optionVoted===option._id.toString())?"highlighted ":"" %>option-item item">
                        <div class="ui radio checkbox">
                            <input type="radio" name="option" value="<%= option._id %>" required <%= (user===undefined)?"disabled":"" %> >
                            <label class="option-body">
                                <%= option.body %>
                            </label>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>

        <% if(user!==undefined) { %>
            <!-- Vote Button: Enabled -->
            <button class="ui blue label">
                Vote
                <div class="detail"><%= poll.voteCount %></div>
            </button>
        <% } else { %>
            <!-- Vote Button: Disabled -->
            <button class="ui disabled red label" data-inverted="" data-tooltip="Log In to Vote!" data-position="right center" disabled>
                Vote
                <div class="detail"><%= poll.voteCount %></div>
            </button>
        <% } %>

    </form>

    <!-- Link to Discussion -->
    <h3><a href="/discussions/<%= poll._id %>" class="ui button">Join the Discussion</a></h3>
</div>

</body>
</html>