<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

<!-- NAVBAR -->
<% include ./partials/navbar.ejs %>

<!-- Poll Question and Author -->
<h2><%= poll.question %></h2>
By- <%= poll.author %>

<form action="/polls/<%= poll._id %>/votes" method="post">
    <!-- Options Display -->
    <ol>
        <% poll.options.forEach((option)=>{ %>
        <li>
            <input type="radio" name="option" value="<%= option._id %>" required>
            <%= option.body %>
        </li>
        <% }); %>
    </ol>
    <button>Vote</button>
</form>

<!-- Number of Voters -->
Nūṁber of votes: <%= poll.voteCount %>

<!-- Show link to Discussion -->
<a href="/discussions/<%= poll._id %>">Discussion Page</a>

</body>
</html>